#Folders
#not excluding any at the moment, relying on exclusion of formats

#compiled (?) python files
*.pyc
__pycache__/

#Can't risk uploading Jupyter notebooks or data
*.ipynb
*.csv
*.pkl
*.hd5f
*.h5
*.pkl

#IDE files
.idea
.vscode

#exclude everything in the model directory
model/*
#but don't ignore README
!model/README.md

